doctype html
html
  head
    meta(charset='utf-8')
    title E-Cause list based testing
    script(type="text/javascript").

      window.onload = function () {
        var eCauseListDate = document.getElementById("eCauseListDate");
        var statesSel = document.getElementById("statesSel");
        const states = [
          'Andaman and Nicobar',
          'Andhra Pradesh',
          'Assam',
          'Bihar',
          'Chandigarh',
          'Chattisgarh',
          'Delhi',
          'Diu and Daman',
          'DNH at Silvasa',
          'Goa',
          'Gujarat',
          'Haryana',
          'Himachal Pradesh',
          'Jammu and Kashmir',
          'Jharkhand',
          'Karnataka',
          'Kerala',
          'Ladakh',
          'Madhya Pradesh',
          'Maharashtra',
          'Manipur',
          'Meghalaya',
          'Mizoram',
          'Nagaland',
          'Orissa',
          'Puducherry',
          'Punjab',
          'Rajasthan',
          'Sikkim',
          'Tamil Nadu',
          'Telangana',
          'Tripura',
          'Uttarakhand',
          'Uttar Pradesh',
          'West Bengal',
        ]
        for (var i = 0; i < states.length; i += 1) {
          statesSel.options[statesSel.options.length] = new Option(states[i], states[i]);
        }
        var now = new Date();
        now.setDate(now.getDate() - 7);
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        today = now.getFullYear() + "-" + (month) + "-" + (day);
        eCauseListDate.setAttribute('min', today);
        now.setDate(now.getDate() + 15);
        day = ("0" + now.getDate()).slice(-2);
        month = ("0" + (now.getMonth() + 1)).slice(-2);

        today = now.getFullYear() + "-" + (month) + "-" + (day);
        eCauseListDate.setAttribute('max', today);
      }
      
  body
    p
      | Dashboard Value is : #{dashboard}
    form#myForm(name='myform' action='/eCauseListTesting?dashboard=#{dashboard}' method='post')
      | Select state: 
      select#statesSel(name='state' size='1' required='required')
        option(value='' selected='selected') Select state
      br
      br
      input#eCauseListDate(type='date' name='eCauseListDate' required='required')
      br
      br
      | Percentage from each court: 
      br
      input(type='number' name='percentage' required='required' min='0' max='100' value='100' step='any')
      br
      br
      | Do you want to store HTML-Contents of page ?
      br
      select#modeSel(name='storeHTML' required='required')
        option(value='Yes' selected='selected') Yes
        option(value='No' selected='selected') No
      br
      br
      
      input#submitBtn(type='submit', value='Start')
      closeform
