doctype html
html
  head
    meta(charset='utf-8')
    title E-Cause list based Crawling
    script(type="text/javascript").

      window.onload = function () {
        var eCauseListDate = document.getElementById("eCauseListDate");
        var now = new Date();
        now.setDate(now.getDate() - 7);
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        today = now.getFullYear() + "-" + (month) + "-" + (day);
        eCauseListDate.setAttribute('min', today);
        now.setDate(now.getDate() + 15);
        day = ("0" + now.getDate()).slice(-2);
        month = ("0" + (now.getMonth() + 1)).slice(-2);

        today = now.getFullYear() + "-" + (month) + "-" + (day);
        eCauseListDate.setAttribute('max', today);
      }
      
  body
    p
    form#myForm(name='myform' action='/eCauseListCrawling' method='post')
      br
      input#eCauseListDate(type='date' name='eCauseListDate' required='required')
      br
      br
      | Percentage from each court: 
      br
      input(type='number' name='percentage' required='required' min='0' max='100' value='100' step='any')
      br
      br

      input#submitBtn(type='submit', value='Start')
      closeform
