extends layout

block content
  style.
    h2.blocktitle{
      font-size: 20px !important;
      color: #31bcd3 !important;
      font-weight:500; 
      padding: 0;
      margin: 0 0 5px 0;
      line-height: 40px;
    }
    h4.blocktitle{
      font-size: 20px !important;
      color: #31bcd3 !important;
      font-weight:350; 
      padding: 0;
      margin: 0 0 5px 0;
      line-height: 40px;
    }
    .pagination-centered {
      text-align: center;
    }
    fieldset {
      overflow: hidden
    }
    .some-class {
      float: left;
      clear: none;
    }
    label {
      float: left;
      clear: none;
      display: block;
      padding: 2px 1em 0 0;
    }
    input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;
    }
    input#sizeLarge {
      margin-left: 6%;
      margin-right: 2%;
      margin-top: 3%;
    }
    .vl {
      border-left: 6px groove;
      height: 500px;
      margin-top: -33%;
    }
    select{
      width:250px;
    }
  .background
    .row-fluid
      .span12
        br
        .margin-center.pagination-centered
          .row-fluid
            .span4.offset4.nd-appDetails
              h2.pagination-centered.blocktitle E-CauseList Crawler
    br
    br
    .span5
      .row-fluid.offset2
        .span12
          .span6.offset7
            .nd-regions
              select.select-test.inline(name='dashboard')
                option(value='') Select Test
                option(value='eCauseListBasedCrawling') E-Cause List Based Crawling
                option(value='eCauseListBasedParsing') E-Cause List Based Parsing

            .nd-regions
              select.select-dashboard.inline(name='dashboard')
                option(value='') Select Server
                option(value='probe') Probe
                option(value='probe_dev') Probe Dev
                option(value='devMachine') Dev Machine
                option(value='uat') UAT
                option(value='internal') Internal
                option(value='production') Production
                option(value='probe_new') Probe New
                option(value='devMachine_Async_Ind') Dev Machine (Async_Ind)

            button.btn.btn-info.finishButton Verify

            hr
            if Object.keys(CURRENT_TESTS).length
              h4.
                Current Crawling/Parsing:
              ul
                each obj in CURRENT_TESTS
                  li
                    =obj.name + ' (' + new Date(obj.timestamp) + ')'
            else
              h5.
                No tests running
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script.
    $(document).ready(function(){
      $('.finishButton').on('click',function(e) {
        var dashboard = $(".select-dashboard option:selected").val();
        var test = $(".select-test option:selected").val();
        if(dashboard == '') {
          if (test === 'eCauseListBasedCrawling') {
            location.href = '/eCauseListCrawling';
          } else {
            alert('Please select which dashboard');
          }
        } else if (test === 'eCauseListBasedParsing') {
          var d = {
            dashboard:dashboard,
            radioValue:test
          };

          $.post('/eCauseListBasedParsing',d ,function(result){
            swal("Good job!", "You started the "+d.radioValue+" \nResult will be mailed to you shortly!!","success").then(function() {
              location.reload();
            });
          })
        }
      })
    })
