<br/>
E-Cause List Criminal Cases are Crawled from <a href='https://services.ecourts.gov.in/ecourtindia_v6/'>ecourts</a>
<br/>
Crawled for <%= eCauseListDate %>
<br/>
<% for (var i = 0; i < crawledStateDetails.length; i++) { %>
    <br/>
    Path: <b><%= eCauseListTestingDb %>/<%= crawledStateDetails[i].state %>_crawl</b>
    <br/>
    Total Count: <%= crawledStateDetails[i].totalCrawledCases %>
    <br/>
    Data crawled from id > <%= crawledStateDetails[i].lastId %>
    <br/>
    <br/>
<% } %>
<br/>
<br/>
