Test ID: <%= testId %>
<br/>
<br/>
<% for (var i = 0; i < sheetUpdatedValues.length; i++) { %>
    <b><%= sheetUpdatedValues[i].tableName %></b>
    <br/>
    Table with parsed data: <b><%= eCauseListTestingDb %>/<%= sheetUpdatedValues[i].tableName %></b>
    <br/>
    Total Cases checked: <b><%= sheetUpdatedValues[i].totalCases %></b>
    
    <% if(sheetUpdatedValues[i].totalCases > 0){ %>
        &nbsp; (id > <%= sheetUpdatedValues[i].lastId %>)
        <% if(sheetUpdatedValues[i].missingCases !== 0){ %>
            <br>
            Missing Cases: <b><%= sheetUpdatedValues[i].missingCases %></b> (Table <b><%= eCauseListTestingDb %>/<%= sheetUpdatedValues[i].missingRecordsTable %></b>, id > <%= sheetUpdatedValues[i].missingTableLastid %>)
        <% } %>
        <% if(sheetUpdatedValues[i].modifiedCases !== 0){ %>
            <br>
            Modified Cases: <b><%= sheetUpdatedValues[i].modifiedCases %></b> (Table <b><%= eCauseListTestingDb %>/<%= sheetUpdatedValues[i].modifiedRecordsTable %></b>, id > <%= sheetUpdatedValues[i].modifiedTableLastid %>)
        <% } %>
    <% } %>
    <br/>
    <br/>
<% } %>
<br/>
<br/>
<a href="<%= link %>">See Report</a>